<% layout("layouts/boilerplate") %>
<img style="width: 100%; height:200vh" src="/dark-style-ninja-naruto.jpg" alt="">
<div style="height:100vh">
</div>

<div style="height: 100vh; background-color: black;" class="LWbAav Kv1aVt"></div>